@import 'bootstrap-material-design/dist/css/bootstrap-material-design';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'swiper/css/swiper';

.player-name {
  font-size: 24px;
}

.player-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.card-footer {
  font-size: 18px;
}

.spike-show-card-header-right {
  align-self: flex-end;
  span {
    color: red;
    font-size: 28px;
  }
}

.card-footer-title {
  font-size:18px;
  font-weight: bold;
}

.spike-show-player-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.spike-show-player-image {
  max-width: 100%;
  width: 80px;
  height: 80px;
  margin-top: 10px;
}

.spike-show-maker {
  font-size: 18px;
}

.spike-show-name {
  font-size: 24px;
  font-weight: bold;
}